#monster {
    color: #00ff00;
    background: #001a00;
}

#solotodo {
    color: #ff8c1a;
    background: #fff2e6;
}

#fornite {
    color: #660066;
    background: #00001a;
}

#bootstrap {
    color: #ffffff;
    background: #730099;
}

#galaxy {
    color: #000000;
    background: #006666;
}

#limonsoda {
    color: #00cc00;
    background: #004d00;
}

#amongo {
    color: #3333cc;
    background: #00001a;
}

#adidas {
    color: #000000;
    background: #ffffff;
}

#netflix {
    color: #ffffff;
    background: #e60000;
}

#corner {
    color: #d9d9d9;
    background: #1a1a1a;
}